*{
    padding: 0; margin: 0;
}

.clear {
	clear: both;
}

body {
    width: 1440px; height: 100%;   margin: 0 auto;
    color: black;
	
}

.wrap {
	width: 1000px;
	float: left;
}

.rank_div {
	height: 100%;
	width:350px;
	float: right;
}

.rank {
	width: 300px;
	margin-top: 3%;
	background-color: rgba(245,245,245, 0.7);
	position: fixed;
	font-size: 20px;
	line-height: 40px;
	color: #555;
	text-align: left;
	border-top: 1px solid silver;
    border-collapse: collapse;
    z-index: 1;
}

.rank th, .rank td {
	border-bottom: 1px solid silver;
}

.rank th {
	color: #6667AB;
	font-weight: 600;
	width: 20%;
	border: 2px solid silver;
	border-width: 2px 0 2px 0;
}

.rank td a:link {
	color: #555;
	text-decoration: none;
}
.rank td a:visited {
	color: #555;
}
.rank td a:hover {
	color: #555;
	text-decoration: underline;
}
.rank td a:active {
	color: #555;
}

.box2{
	
	width: 100%; height: 400px;;
}

.book_forme{
	padding-top: 5%;
	display: flex;
	margin: 0 auto;
	width: 75%; height: 75%;
	font-size: 20px;
}
.book_forme2{
	margin-left: 10%;
}
.book_forme2 h1 {
	color: #6667AB;
	font-size: 50px;
	margin-bottom: 13%
}
.book_forme2 p {
	font-weight: 600;
	color: #555;
}
.book_forme2 input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#moretext{
	padding-top: 7%;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #6667AB;
}
#moretext span {
	color: #6667AB;
}
.book_introduction{
	width: 100%; height: 400px;
}
.company_review{
	width: 100%; height: 400px;
}

.book_detail_content {
	color: #555;
	padding: 3%;
}
#reviewContents {
    width: 1000px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend{
    text-align: left;
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform label{
    font-size: 3em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#myform label:hover{
    text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}